<div>
<header>
  <h1>Blog</h1>
  <nav id="menu">
    <ul>
      <li><a href="#switchs">{{i18n 'switchs'}}</a></li>
      <li>
        <div id="userbar"></div>
      </li>
    </ul>
  </nav>

</header>

<!-- router contents -->
<main id="maincontent"></main>


<footer>
  <div id="languagecontrol"></div>
</footer>
</div>
