<div class="d-flex flex-column min-vh-100">
  <header class="bg-dark text-light p-3">
    <h1>IAmOn</h1>
    <nav id="menu">
      <ul class="list-unstyled mb-0">
        <li>
          <div id="userbar"></div>
        </li>
      </ul>
    </nav>
  </header>

  <!-- router contents -->
  <main id="maincontent" class="container mt-3 flex-grow-1">
    <!-- Contenido de tu main.js -->
  </main>

  <footer class="bg-dark text-light p-3 mt-auto mt-3"> 
    <div id="languagecontrol">
      <!-- Contenido de tu footer -->
    </div>
  </footer>
</div>
