/* Estilos generales para los contenedores */
.switch-container,
.subscription-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para las listas */
.switch-list,
.subscription-list {
    list-style: none;
    padding: 0;
}

/* Estilos para los elementos de la lista */
.switch-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

/* Estilos para el botón "Info" */
.info-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Cambiar los estilos al pasar el mouse */
.info-button:hover {
    background-color: #0056b3;
}

/* Estilos para el botón de encendido/apagado */
.toggle-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Cambiar los estilos al pasar el mouse */
.toggle-button:hover {
    background-color: #0056b3;
}

/* Estilos para las imágenes */
.image {
    width: 20px;
    height: 20px;
}

/* Media query para pantallas grandes */
@media (min-width: 992px) {
    .switch-container,
    .subscription-container {
        width: 45%; /* Ajusta el ancho deseado para cada contenedor */
        float: left; /* Hace que los contenedores floten uno al lado del otro */
        margin: 20px;
    }
}

/* Limpia el flotante para evitar problemas en el diseño */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Media query para pantallas pequeñas */
@media (max-width: 991px) {
    .switch-container,
    .subscription-container {
        width: 100%; /* Cambia el ancho al 100% para ocupar todo el ancho de la pantalla */
        margin: 20px auto; /* Centra el contenedor horizontalmente */
    }
}
